<link rel="stylesheet" href="stylesheets/style.css" />
<%- include('partials/header') %>
    <h3 class="index">The Online Survivor Database</h3>
  <img class= "index" src="https://vignette.wikia.nocookie.net/survivor-org/images/5/57/Comeoninguysss.gif/revision/latest?cb=20161015223115">
<%- include('partials/footer') %>