<link rel="stylesheet" href="stylesheets/style.css" />
<%- include('partials/header') %>
  <h1>Come On In Guys!</h1>
  <h3>This is the landing page when you first hit the website</h3>
<%- include('partials/footer') %>