<%- include('../partials/header') %>

<h2>Dip your in torches and get fire</h2>

<form action="/messages/<%= message._id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label>Message Title:</label>
        <input type= "text" class="form-control" id="exampleFormControlTextarea1" rows="1" name= "title"></textarea>
        <label for="exampleFormControlTextarea1">Edit Your Message:</label>
        <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" name= "body"></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>

<%- include('../partials/footer') %>