body {
  background-color: lightcyan;
  margin: 0 auto;
}

nav {
  display: inline;
  font-size: 20px;
}

.nav-item:hover {
  background-color: orange;
  color: seashell
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

.index {
  margin: 0 auto;
  justify-content: center;
}

.season-info:hover {
  background-color: orange
}

#logo {
  width: 500px;
  text-align: center;
}

#search-row form {
  padding-top: 20px;
}

#footer {
  position: relative;
  text-align: right;
  bottom: 0;
}

