<%- include('../partials/header') %>  
  <ul>Registered Users:
    <% users.forEach(u => { %>
      <li><%= u.name %></li>
    <% }) %>
  </ul>
  <h1>Come on in guys!</h1>
  <h3>This is a user index page to see all users</h3>
<%- include('../partials/footer') %>